{% extends 'item/layout.html' %}
{% block title %}
    {% comment %} if문 적용하고 싶은데 url 구분 어떻게..? {% endcomment %}
    {% if url == '/shop/item/create/' %} Item Register
    {% else %} Item Edit
{% endif %}
{% endblock %}
    

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <table class="table table-bordered">
            {{ form.as_table }}
        </table>

        <input type="submit" value="저장하기"  />
    </form>
{% endblock %}